<section class="tc-ctl-hello-world__content mat-typography">
  <h2 class="mat-headline-6">{{title}}</h2>
  <p class="mat-body-1">
    {{message}}
  </p>
  <button type="button" class="tc-ctl-hello-world__button">
    {{buttonLabel}}
  </button>
</section>


